App_WebReferences/com/interswitchng/testwebpay/webpay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webpay.interswitchng.com/webpay/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webpay.interswitchng.com/webpay/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebPAYService</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webpay.interswitchng.com/webpay/">
      <s:element name="getStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CADPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MERTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TXNREF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransactionStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CADPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MERTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TXNREF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransactionStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTransactionStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusWithMAC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CADPID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MERTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TXNREF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MAC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusWithMACResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStatusWithMACResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getStatus" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getTransactionStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getTransactionStatus" />
  </wsdl:message>
  <wsdl:message name="getTransactionStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getTransactionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getStatusWithMACSoapIn">
    <wsdl:part name="parameters" element="tns:getStatusWithMAC" />
  </wsdl:message>
  <wsdl:message name="getStatusWithMACSoapOut">
    <wsdl:part name="parameters" element="tns:getStatusWithMACResponse" />
  </wsdl:message>
  <wsdl:portType name="webpaySoap">
    <wsdl:operation name="getStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will get the status of transactions made to webpay</wsdl:documentation>
      <wsdl:input message="tns:getStatusSoapIn" />
      <wsdl:output message="tns:getStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTransactionStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will get all transactions status made to webpay withen a specified period</wsdl:documentation>
      <wsdl:input message="tns:getTransactionStatusSoapIn" />
      <wsdl:output message="tns:getTransactionStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatusWithMAC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method will get the status of transactions made to webpay</wsdl:documentation>
      <wsdl:input message="tns:getStatusWithMACSoapIn" />
      <wsdl:output message="tns:getStatusWithMACSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webpaySoap" type="tns:webpaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="http://webpay.interswitchng.com/webpay/getStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactionStatus">
      <soap:operation soapAction="http://webpay.interswitchng.com/webpay/getTransactionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusWithMAC">
      <soap:operation soapAction="http://webpay.interswitchng.com/webpay/getStatusWithMAC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="webpaySoap12" type="tns:webpaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStatus">
      <soap12:operation soapAction="http://webpay.interswitchng.com/webpay/getStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactionStatus">
      <soap12:operation soapAction="http://webpay.interswitchng.com/webpay/getTransactionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusWithMAC">
      <soap12:operation soapAction="http://webpay.interswitchng.com/webpay/getStatusWithMAC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webpay">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">WebPAYService</wsdl:documentation>
    <wsdl:port name="webpaySoap" binding="tns:webpaySoap">
      <soap:address location="http://testwebpay.interswitchng.com/webpayservice_pilot/webpay.asmx" />
    </wsdl:port>
    <wsdl:port name="webpaySoap12" binding="tns:webpaySoap12">
      <soap12:address location="http://testwebpay.interswitchng.com/webpayservice_pilot/webpay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>